@using Template_DevExpress_By_MFM.Models
<!DOCTYPE html>
@{
    var logSession = HttpContext.Current.Session["SHealth"] as SessionLogin;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="dashboardmarketingportal">
    <meta name="author" content="muhammadfauzimilad">

    <title>Template Portal DevExpress by MFM</title>
    <link rel="shortcut icon" href="~/Content/images-new/logo_gs_battery_nonbg.ico">



    <!-- Sweet Alert -->
    <link href="~/Content/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">


    <!-- datepicker -->
    <link href="~/Content/plugins2/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">


    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css">

    <script src="~/Content/plugins/devexpress-download/polyfill.min.js"></script>
    <script src="~/Content/plugins/devexpress-download/exceljs.min.js"></script>
    <script src="~/Content/plugins/devexpress-download/FileSaver.min.js"></script>




    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script> *@
    <script src="~/Content/assets/js/jquery.min.js"></script>

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    @RenderSection("scripts", required: false)

</head>

<body>

    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="@Url.Action("Index", "Home")" class="logo">

                    <span class="logo-light">
                        <img src="~/Content/images-new/logo_gs_battery_light.png" alt="" height="50">
                    </span>
                    <span class="logo-sm">
                        <img src="~/Content/images-new/logo_gs_battery_nonbg.png" alt="" height="35">
                    </span>

                </a>
            </div>

            <nav class="navbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">

                    <!-- full screen -->
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-fullscreen noti-icon"></i>
                        </a>
                    </li>

                    <!-- notification -->
                    <li hidden class="dropdown notification-list list-inline-item">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell-outline noti-icon"></i>
                            <span class="badge badge-pill badge-danger noti-icon-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                            <!-- item-->
                            <h6 class="dropdown-item-text">
                                Notifications (3)
                            </h6>
                            <div class="slimscroll notification-item-list">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-cube-outline"></i></div>
                                    <p class="notify-details">Stok Sisa Menipis<span class="text-muted">stok sisa jumlah 30 lagi. Harap mengisi ulang!</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-cube-outline"></i></div>
                                    <p class="notify-details">Stok Sisa Menipis<span class="text-muted">stok sisa jumlah 10 lagi. Harap mengisi ulang!</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-cube-outline"></i></div>
                                    <p class="notify-details">Stok Sisa Menipis<span class="text-muted">stok sisa jumlah 5 lagi. Harap mengisi ulang!</span></p>
                                </a>
                            </div>
                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                View all <i class="fi-arrow-right"></i>
                            </a>
                        </div>
                    </li>

                    <li class="dropdown notification-list list-inline-item">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/Content/images-new/users/profile.jpg" alt="user" class="rounded-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown" style="min-width: 220px;">
                                <!-- item-->
                                @if (logSession != null && logSession.userrole != "customer")
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index", "ChangePassword")"><i class="mdi mdi-lock m-r-5"></i>Change Password</a>
                                }
                                @if (logSession != null && logSession.userrole == "customer")
                                {
                                    <a class="dropdown-item" href="@Url.Action("Index2", "ChangePassword")"><i class="mdi mdi-lock m-r-5"></i>Change Password</a>
                                }

                                @if (logSession != null)
                                {
                                    <a class="dropdown-item text-success"><i class="mdi mdi-account text-success"></i> @logSession.fullname (@logSession.userrole) (@logSession.userdepartment)</a>
                                }
                                @if (logSession != null)
                                {
                                    string lokasi = logSession.userplant == "K" ? "Karawang" : logSession.userplant == "M" ? "Semarang" : logSession.userplant;
                                    <a class="dropdown-item text-success">
                                        <i class="mdi mdi-home text-success"></i> @lokasi
                                    </a>
                                }

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="@Url.Action("Logout", "Login")"><i class="mdi mdi-power text-danger"></i> Logout</a>
                            </div>
                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">

                        <li class="menu-title">Main</li>
                        <li>
                            <a href="@Url.Action("Index", "Home")" class="waves-effect">
                                <i class="ti-pie-chart"></i><span class="badge badge-primary badge-pill float-right"></span> <span> Dashboard </span>
                            </a>
                           
                        </li>
                        <li class="menu-title">Manage</li>

                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-harddrives"></i><span> Dokumen Request <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li><a href="@Url.Action("ManageMasterDokumenRequest", "Manage")"><i class="ti-receipt"></i> Akses Modul/Session ERP</a></li>
                                    <li><a href="@Url.Action("ManageMasterDokumenRequestP3sp", "Manage")"><i class="ti-agenda"></i> Permintaan Pembuatan dan Perubahan Sistem ERP</a></li>
                                   
                                </ul>
                            </li>

                        @if (logSession.userrole == "admin" || logSession.userrole == "superadmin")
                        {
                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="ti-trello"></i><span> Manage User <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li><a href="@Url.Action("ManageMasterUserForm", "Manage")"><i class="ti-user"></i> User Accounts</a></li>
                                    <li><a href="@Url.Action("ManageMasterEmail", "Manage")"><i class="ti-email"></i> Email Notification</a></li>
                                </ul>
                            </li>
                        }
                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="content-page" style="margin-top:-55px">
            @*<div class="container body-content">*@
            @RenderBody()
            <hr />
            <footer class="footer">
                <div class="container">
                    PT. GS Battery &copy; 2021 - Dashboard Portal Marketing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>


    </div>



   
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/metismenu.min.js"></script>
    <script src="~/Content/assets/js/jquery.slimscroll.js"></script>
    <script src="~/Content/assets/js/waves.min.js"></script>


    <!-- datepicker -->
    <script src="~/Content/plugins2/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>


    <script src="~/Content/assets/js/app.js"></script>
  
</body>

</html>